*{
    margin: 0;
    padding: 0;
}
.Login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #343A40;
}

.login-box{
    width: 400px;
    height: 400px;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}
.inputs-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.inputs-wrapper p {
    margin-bottom: 10px;
    text-align: start;
    margin-left: 50px;
    color: #6c757d;
}
.inputs-wrapper input,.inputs-wrapper button{
    width: 70%;
    padding: 10px ;
    outline: none;
    border: none;
    border-bottom: 1px solid #95A0F4 ;
    background-color: transparent;

}
.btns{
    width: 100%;
    text-align: center;

}
.btns button{
    width: 50%;
    padding: 10px;
    background-color: #95A0F4;
    outline: none;
    border: 1px solid  #6971af;
    border-radius: 7px;
    color :#fff
}
.btns button:hover{
    cursor: pointer;
}
